<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>gaming monk</title>
</head>

<style>
.social_login{
        margin: 10%;
    }
    .signup{
        width: 40%;
    }

</style>

<body>

    <div style="display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
        <h1 style="color:blue">{{title}}</h1>
        <a href="/" class="social_login">Home</a>
    </div>
    <div>

        <a href="/user/login" class="social_login">LogIn</a>
        <a href="/user/signup" class="social_login">SignUp</a>
        <a href="/user/google/auth" class="social_login">Google</a>
        <a href="/user/facebook/auth" class="social_login">Facebook</a>
    </div>
</body>

</html>